<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_header.ejs %>
        <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>

<body>
    <!-- Write EJS code here to display shortened links -->
<div class="main">

  <% include ../partials/_nav.ejs %>

    <h1>shortURL Updater</h1>

    <ul>
          <li>
              <p>
              <a href="http://localhost:8080/u/<%= shortURL %>"> http://localhost:8080/u/<%= shortURL %> </a>
<br />
                <b>=</b>
                <br />
                <%= urls[shortURL] %>
              </br/>
              </p>

              <form method="POST" action="/urls/<%= shortURL %>?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">DELETE</button>
              </form>

              <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">

                <input type="hidden" name="_method" value="PUT">
                <input type="text" name="thisinput" value="http://www.">
                <button type="submit">UPDATE</button>
              </form>


          </li>
    </ul>

    </div>


</body>

</html>
