<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_header.ejs %>
</head>
<body>

<div class="main">

  <% include ../partials/_nav.ejs %>

    <h1>Update A URL</h1>

    <ul>
          <li>
              <p>
              <a href="http://localhost:8080/u/<%=urlb.shortURL %>"><h3>/u/<%= urlb.shortURL %> </h3></a>

                </b>goes to</b>
                <br/>

                <%= urlb.longURL %>
              <br/>
              </p>

              <form method="POST" action="/urls/<%= urlb.shortURL %>?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">DELETE :(</button>
              </form>

              <form method="POST" action="/urls/<%= urlb.shortURL %>?_method=PUT">

                <input type="hidden" name="_method" value="PUT">
                <input type="text" name="thisinput" value="http://www.">
                <button type="submit">UPDATE</button>
              </form>


          </li>
    </ul>

    </div>


</body>

</html>
